.container{
    
    display: inline-block;
    margin: 0%;
  }
  .text{
    color: aliceblue;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 700;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 4s steps(40,end) infinite;
  }
  @keyframes typing{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }